<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @task %>
      <%= form_with(model: @task, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :name, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.text_field :name, class: "form-control shadow rounded", placeholder: t('task') %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :deadline, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.date_field :deadline, class: "form-control shadow rounded", placeholder: "rrrr-mm-dd" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.radio_button :period, :daily, class: "form-check-input"%>
        <%= f.label :daily, t('dailytask'), class: "form-check-label"%>
        <%= f.radio_button :period, :weekly, class: "form-check-input"%>
        <%= f.label :weekly , t('weeklytask'), class: "form-check-label"%>
        <%= f.radio_button :period, :yearly, class: "form-check-input"%>
        <%= f.label :yearly, t('yearlytask'), class: "form-check-label"%>
      </div>
      <% if action_name == 'edit' %>
        <div class="form-group row">
          <%= f.radio_button :status, :to_do, class: "form-check-input"%>
          <%= f.label :to_do, t('todo'), class: "form-check-label"%>
          <%= f.radio_button :status, :done, class: "form-check-input"%>
          <%= f.label :dobe , t('done'), class: "form-check-label"%>
        </div>
      <% end %>
      <div class="form-group row justify-content-center">
        <%= f.submit %>
      </div>
      <% end %>
    </div>
    <div class="mb-3">
    <%= link_to t('taskindex'), tasks_path, class: "text-info" %>
    </div>
  </div>
</div>
