<h1>Lista Twoich zadań</h1>

<table>
  <thead>
    <tr>
      <th><%= t('task').capitalize %></th>
      <th><%= t('deadline').capitalize %></th>
      <th><%= t('period').capitalize  %></th>
      <th><%= t('status').capitalize %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.deadline %></td>
        <td><%= task.period %></td>
        <td><%= task.status %></td>
        <%#<td><%= link_to 'Show', article_path(article) %></td>
        <%#<td><%= link_to 'Edit', edit_article_path(article) %></td>
        <%#<td><%= link_to 'Delete', article_path(article), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# <p><%= link_to 'Create new article', new_article_path %></p>
