<h1><%= @task.name %></h1>

<p><%= t('activerecord.task.name').capitalize %>: <strong><%= @task.name %></strong></p>
<p><%= t('deadline').capitalize %>: <strong><%= @task.deadline %></strong></p>
<p><%= t('status').capitalize %>: <%= @task.status %></p>
<p><%= t('period').capitalize  %>: <%=@task.period %></p>
<%# <p><%= link_to 'Edit article', edit_article_path(@article) %></p>
<%# <%= link_to 'Delete', article_path(@article), method: :delete %></p>
