<h1><%= @task.name %></h1>

<p><strong>Zadanie: <%= @task.name %></strong></p>
<p><strong>Deadline: <%= @task.deadline %></strong></p>
<p>Status: <%= @task.status %></p>
<p>Rodzaj: <%= @task.period %></p>
<%# <p><%= link_to 'Edit article', edit_article_path(@article) %></p>
<%# <%= link_to 'Delete', article_path(@article), method: :delete %></p>
