<!DOCTYPE html>
<html>
  <head>
    <title>Do_It</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-sm">
      <div class="jumbotron">
        <h1><%= t('apptitle') %></h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
